name: release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup-and-build
      - name: Upload output file as artifact
        uses: actions/upload-artifact@v6
        with:
          name: artifacts-${{ github.ref_name }}
          path: ./tsp-output
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            ./tsp-output/schemas/openapi.yaml
